@use './global/colors' as *;




/*------------------------------------*\
    MEDIAS
\*------------------------------------*/

.ratio-square {
    aspect-ratio: 1/1;
}
.ratio-54 {
    aspect-ratio: 5/4;
}
.thumbnail_captions {
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
}



/*------------------------------------*\
    CARDS
\*------------------------------------*/

.block-project {

    &__image {
        img {
            border: 0px solid $accent-color;
            transition: border 0.3s;
            aspect-ratio: 5/4;
            width: 100%;
        }
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: $gray-mid;

        .block-project__image img {
            border: 30px solid $accent-color;
        }
    }
}


article.slide_project {

    .slide_cover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .mod_content {
        margin-left: 0;
    }
    a:hover .btn {
        border-color: $black;
        path {
            fill: $black;
        }
    }
}


.block-presskit {
    background-color: $gray-light;
    padding: 30px 80px;

    img {
        aspect-ratio: 4/5;
        height: 225px;
        object-fit: cover;
    }
}