@use './global/colors' as *;

/*------------------------------------*\
    CARDS
\*------------------------------------*/

.block-project {

    &__image {
        img {
            border: 0px solid $accent-color;
            transition: border 0.3s;
            aspect-ratio: 5/4;
            width: 100%;
        }
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: $gray-mid;

        .block-project__image img {
            border: 30px solid $accent-color;
        }
    }

}




.block-presskit {
    background-color: $gray-light;
    padding: 30px 80px;

    img {
        aspect-ratio: 4/5;
        height: 225px;
        object-fit: cover;
    }
}