@use "./global/colors" as *;


/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid $black;

    &.active {
        background-color: $black;
        color: $white;
        pointer-events: none;
    }
}





/*------------------------------------*\
    NAVIGATION LINKS
\*------------------------------------*/

.pagination {

    a {
        text-decoration: none;
    }
    .page-numbers {
        border-radius: 50%;
        border: 1px solid $black;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .current {
        background-color: $black;
        color: white;
    }
}

