@use "./global/colors" as *;
@use "./global/mixins" as *;


/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.btn {
    transition: 0.3s;

    @include max(medium) {
        font-size: 1.6rem;

    }
    @include min(medium) {
        font-size: 2rem;
    }

    svg, svg path, svg circle, svg line, span {
        transition: 0.3s;
    }

    &.-filter {
        padding: 1em 2em .9em 2em;
        background-color: $white;
        border-radius: 50px;
        outline: none;

        &.-active,
        &:hover {
            background-color: $accent-color;
            color: $white;
        }
    }

    &.-circled-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 70px;
        border: 2px solid $accent-color;
        border-radius: 50px;

        @include max(large) {
            width: 55px;
        }
        @include min(large) {
            width: 70px;
        }

        svg path {
            fill: $accent-color;
        }

        &:hover {
            border-color: $black;

            svg path {
                fill: $black;
            }
        }
    }

    &.-footer-picto {
        color: $gray-mid;
        text-decoration: none;
        
        .picto {
            background-color: $gray-mid;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            border-radius: 50px;
            width: 45px;
        }

        &:hover {
            .picto {
                background-color: $accent-color;
            }
            .label {
                color: $accent-color
            }
        }
    }

    &.-filled-picto {
        text-decoration: none;
        color: $black;

        .picto {
            background-color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            border-radius: 50px;
            width: 60px;
            transition: 0.3s;

            &.-small {
                width: 50px;
                svg {
                    max-width: 25px;
                }
            }
        }

        circle, rect, path {
            stroke: white;
        }

        &:hover {
            .picto {
                background-color: $gray-mid;
            }
        }

    }

    &.-circled-picto {
        text-decoration: none;

        svg line {
            stroke: $white;
        }

        .picto {
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            width: 60px;
            border: 2px solid $white;
            border-radius: 50px;
        }

        &:hover {
            color: $gray-mid;
            
            .picto {
                border-color: $gray-mid;
            }
            svg line {
                stroke: $gray-mid;
            }
        }
    }
    
}


/*------------------------------------*\
    NAVIGATION LINKS
\*------------------------------------*/

.pagination {

    a {
        text-decoration: none;
    }
    .page-numbers {
        border-radius: 50%;
        border: 1px solid $black;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .current {
        background-color: $black;
        color: white;
    }
    &.hidden {
        display: none;
    }
}


/*------------------------------------*\
    BURGER MENU
\*------------------------------------*/

.burger-menu {        
    width: 30px;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    gap: 10px;
    flex-direction: column;

    &.-white .burger-menu__stick {
        background-color: $gray-mid;
    }
    &.-black .burger-menu__stick {
        background-color: $black;
    }

    &__stick {
        display: block;
        height: 3px;
        left: 0;
        transform: rotate(0deg);
        transition: transform 0.25s ease-in-out;
        transform-origin: left center;
        will-change: transform;

        &:first-child {
            transform-origin: left center;
        }

    }
}