@use "./global/typography" as *;
@use "./global/colors" as *;
@use "./global/mixins" as *;

.site-footer {
    background-color: black;
    // margin-top: 100px;
    padding: var(--space-xl) 0;

    @include max(medium) {
        padding: var(--space-l) 0;
    }

    a, h3, p {
        color: white;
    }


    .entry__field {
        transition: 0.3s;

        svg path, input::placeholder {
            transition: 0.3s;
        }

        input {
            color: $white !important;
        }

        &:hover {
            border-color: $white !important;

            input {
                color: $white !important;
                &::placeholder {
                    color: $white !important;
                }
            }
            svg path {
                fill: $white;
            }
        }
    }

    .menu {
        a {
            @extend .h3;
            &:hover {
                opacity: .7;
            }
        }
    }
    .menu-footer-last {
        a {
            @extend .body;
            font-weight: $font-light;
            color: $gray-mid;

            @include max(medium) {
                font-size: 1.6rem;
            }
        }
    }
}