@use './global/colors' as *;


.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    border-bottom: 1.5px solid $black;

    .main-navigation-2 {
        border-left: 1.5px solid $black;
        border-right: 1.5px solid $black;
        
        li a {
            font-size: 1.6rem;
        }
    }

    .menu li a {
        text-decoration: none;
        padding: 40px;
        white-space: nowrap;
    }

    li {
        display: flex;
        align-items: center;

        a {
            font-size: 2rem;
        }
    }

    .search {
        border-right: 1.5px solid $black;
        a {
            display: block;
            padding: 30px 25px;
        }

    }

    .lang_menu {
        padding: 40px 0 40px 40px;

        a {
            color: $gray-mid;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.6rem;
        }

        .current-lang a {
            color: $black;

        }
    }
}