/*------------------------------------*\
    VISUEL TEXT
\*------------------------------------*/

.mod_visuel-text {

}

.mod_carousel {
    margin: 100px 0;
}

.mod_quote {
    margin: 100px 0;
    text-align: center;
}