@use "./global/colors" as *;
@use "./global/mixins" as *;



/*------------------------------------*\
    HEADS
\*------------------------------------*/

.entry-header {
    position: relative;
    margin-bottom: calc( var(--space-xxl) * 1.5);
    text-decoration: none;

    img {
        width: 100%;
        height: 75vh;
    }
    &.-red {
        background-color: $accent-color;
    }
    &.-inversed {        
        .mod_content {
            background-color: $accent-color;
            color: white;
        }
    }
    &.-wrapped {
        @include wrapper;
    }
    &.-fullwrapped {
        @include wrapper;

        .mod_cover {
            height: 60vh;
        }
        .mod_content {
            margin-left: 0;
        }
    }
    &.-linked {
        .mod_button {
            position: absolute;
            z-index: 2;
            right: 0;
            top: var(--space-xl);
            bottom: var(--space-xl);
            width: 0;
            background-color: $accent-color;
            transition: width .3s;

            svg, path {
                fill: white;
            }
        }
        &:hover {
            .mod_button {
                width: var(--space-xl);
            }
        }
    }

    &:hover {
        color: inherit;
    }

    .mod_title {
        color: $accent-color;
    }
    .mod_content {
        position: relative;
        z-index: 1;
        margin: var(--space-xl) 0 var(--space-xl) calc(var(--space-xl) * -1);
        background-color: white;
        padding: var(--space-xl);

        h1 {
            margin-bottom: var(--space-l);
        }
    }
}
.content-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white;
}




/*------------------------------------*\
    MOD CAROUSEL
\*------------------------------------*/

section[class*="mod"] {
    &.-bordered {
        border: 50px solid $accent-color;
        padding: 70px;
    }
}



/*------------------------------------*\
    MOD CAROUSEL
\*------------------------------------*/

.mod_carousel {
    margin-bottom: calc( var(--space-xxl) * 1.5);

    &.swiper {
        @include wrapper-padding;

        @include min(wide) {
            padding-left: calc( calc( 100vw - var(--max-width) ) / 2);
            padding-right: calc( calc( 100vw - var(--max-width) ) / 2);
        }
    }
}


/*------------------------------------*\
    MOD CAROUSEL HORIZONTAL
\*------------------------------------*/

.mod_carousel-horizontal {
    // height: 90vh;
    
    .carousel-horizontal {
        height: 100%;
    } 
    .entry-header {
        height: 80vh;
        width: 100%;
        .mod_cover {
            height: 100%;
        }
    }
    .mod_content {
        height: calc(100% - var(--space-xl) * 2);

        .link {
            text-decoration: none;
        }
    }
    .navigation {
        position: absolute;
        top: 48%;
        left: calc( var(--space-xl) * -1);
        right: calc( var(--space-xl) * -1);
        z-index: 3;
        .prev, .swiper-button-disabled {
            opacity: 0;
        }
    }
}


/*------------------------------------*\
    MOD VISUAL GRID (MEDIAS)
\*------------------------------------*/

.mod_contentSplit {
    margin-bottom: calc( var(--space-xxl) * 1.5);

    .swiper {
        width: calc( 100% + 5vw);
        max-width: none;

        @include min(wide) {
            width: calc( 100% + 10vw);
        }
    }

    img {
        width: 100%;
        max-height: 60vh;
    }
    
    
}


/*------------------------------------*\
    MOD VISUAL GRID (MEDIAS)
\*------------------------------------*/

.mod_visual-grid {
    margin: 100px 0;

    .visual-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 36px;

        figure {
            height: 50vh;
            flex-grow: 1;
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}


/*------------------------------------*\
    MOD QUOTE
\*------------------------------------*/

.mod_quote {
    margin: calc(var(--space-xxl) * 2) 0;
    text-align: center;
}


/*------------------------------------*\
    MOD NEWS
\*------------------------------------*/

.mod_news {
    margin: 100px 0;

    .mod_header {
        color: $accent-color;
    }

    img {
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}


/*------------------------------------*\
    MOD FEATURED PROJECTS
\*------------------------------------*/

.mod_featured-projects {

}


/*------------------------------------*\
    MOD ARTIST
\*------------------------------------*/

.mod_artist {

}


/*------------------------------------*\
    MOD ARTIST
\*------------------------------------*/

.mod_visuel-text {
}


/*------------------------------------*\
    MOD ARTIST
\*------------------------------------*/

.mod_contacts {
    background-color: $gray-light;
    padding: var(--space-xxl) 0 ;
}