@use "./global/colors" as *;
@use "./global/mixins" as *;

/*------------------------------------*\
    VISUEL TEXT
\*------------------------------------*/

.mod_visuel-text {

    .mod_cover img {
        width: 100%;
        height: 60vh;
    }
    .mod_content {
        margin: var(--space-xl) 0 var(--space-xl) calc(var(--space-xl) * -1);
        background-color: white;
        padding: var(--space-xl);

        h1 {
            margin-bottom: var(--space-l);
        }
        p {
            
        }
    }
}

.mod_carousel {
    margin: 100px 0;
    &.swiper {
        @include wrapper-padding;
    }
}

.mod_carousel-horizontal {
    height: 100vh;
    .carousel-horizontal {
        height: 100%;
    } 
}

.mod_visual-grid {
    margin: 100px 0;

    .visual-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 36px;

        figure {
            height: 50vh;
            flex-grow: 1;
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.mod_quote {
    margin: 100px 0;
    text-align: center;
}

.mod_news {
    margin: 100px 0;
    border: 50px solid $accent-color;

    .mod_publication {
        padding: 70px;
    }

    img {
        aspect-ratio: 6/7;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}

.mod_featured-projects {
    margin: 100px 0;
    border: 50px solid $accent-color;
}


.mod_header-page {
    margin-bottom: 100px;

    .content-absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $white;
    }
}