@use "./global/colors" as *;
@use "./global/mixins" as *;
@use "./global/typography" as *;




.project-header {
    
    @include max(medium) {
        margin-bottom: var(--space-xl);
    }
    @include min(medium) {
        @include wrapper();
        margin-bottom: var(--space-xxl);
    }

    .project-header-container {
        .project_content {
            inset: 0;
        }
    }

    .project_content {
        @include max(medium) {
            background-color: $gray-light;
        }
        @include min(medium) {
            position: absolute;
        }
    }
    .project_cover {
        aspect-ratio: 16/7;
        background-color: $gray-light;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            @include max(medium) {
                height: 300px;
            }
            @include min(medium) {
                aspect-ratio: 16/7;
            }
        }
    }
    .project_titles {
        position: relative;

        @include max(medium) {
            background-color: $gray-light;
            padding: var(--space-s) var(--space-l) var(--space-l);
        }
        @include min(medium) {
            background-color: $white;
            padding: var(--space-l);

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: calc(var(--space-l) * -1);
                width: 0;
                bottom: 0;
                height: 100%;
                width: var(--space-l);
                height: 100%;
                background-color: $accent-color;
            }
        }
        
    }
}

.project-content {

    .project-right {
        @include min(medium) {
            padding-left: var(--space-l);
        }
        @include max(medium) {
            padding-top: var(--space-l);
       }
    }

    .project_presskit {
        margin-bottom: var(--space-l);

        a {
            text-decoration: none;

            &:hover {
                color: $black;
                .btn {
                    opacity: 0.5;
                }
            }

            .btn {
                background-color: $black;
                transition: 0.3s;
                border: none;
            }
        }
    }
}



article.video {
    background-color: $gray-light;
    margin-bottom: var(--space-xxl);
    padding-bottom: var(--space-xxl);

    .mod_breadcrumbs {
        background-color: transparent;
    }
}


article.edition {
    background-color: $beige;
    padding-bottom: 0.1px; //take inner margin in consideration
    margin-bottom: 100px;

    .mod_breadcrumbs {
        background-color: transparent;
    }
    .wp-post-image {
        object-fit: contain;
        object-position: top;
    }
}