@use 'mixins' as *;

/***** Margin, padding *****/

.m-0 { margin: 0 }

.p-0 { padding: 0 }

.mp-0 {
    margin: 0;
    padding: 0;
}

/***** Flex *****/

@each $suffix, $media in ('' : "(min-width: 0px)", '-desktop' : "(min-width: 920px)", '-mobile' : "(max-width: 920px)") {
    @media #{$media} {

        /***** Flex *****/

        .flex#{$suffix} { display: flex } 

        .flex, .grid {
            &.-space#{$suffix}     { justify-content: space-between }
            &.-center#{$suffix}    { justify-content: center; align-items: center }
            &.-center-x#{$suffix}  { justify-content: center }
            &.-center-y#{$suffix}  { align-items: center }
            &.-start-y#{$suffix}   { align-items: flex-start }
            &.-end-y#{$suffix}     { align-items: flex-end }
            &.-end-x#{$suffix}     { justify-content: flex-end }
            &.-column#{$suffix}    { flex-direction: column }
            &.-wrap#{$suffix}      { flex-wrap: wrap }
        }
    
        /***** Gap *****/

        .gap-0#{$suffix}   { gap: 0 }
        .gap-xxs#{$suffix} { gap: var(--space-xxs) }
        .gap-xs#{$suffix}  { gap: var(--space-xs) }
        .gap-s#{$suffix}   { gap: var(--space-s) }
        .gap-m#{$suffix}   { gap: var(--space-m) }
        .gap-l#{$suffix}   { gap: var(--space-l) }
        .gap-xl#{$suffix}  { gap: var(--space-xl) }
        .gap-xxl#{$suffix} { gap: var(--space-xxl) }

        /***** Margin *****/

        .mb-0#{$suffix}   { margin-bottom: 0 }
        .mb-xxs#{$suffix} { margin-bottom: var(--space-xxs) }
        .mb-xs#{$suffix}  { margin-bottom: var(--space-xs) }
        .mb-s#{$suffix}   { margin-bottom: var(--space-s) }
        .mb-m#{$suffix}   { margin-bottom: var(--space-m) }
        .mb-l#{$suffix}   { margin-bottom: var(--space-l) }
        .mb-xl#{$suffix}  { margin-bottom: var(--space-xl) }
        .mb-xxl#{$suffix} { margin-bottom: var(--space-xxl) }

        .mt-0#{$suffix}   { margin-top: 0 }
        .mt-xxs#{$suffix} { margin-top: var(--space-xxs) }
        .mt-xs#{$suffix}  { margin-top: var(--space-xs) }
        .mt-s#{$suffix}   { margin-top: var(--space-s) }
        .mt-m#{$suffix}   { margin-top: var(--space-m) }
        .mt-l#{$suffix}   { margin-top: var(--space-l) }
        .mt-xl#{$suffix}  { margin-top: var(--space-xl) }
        .mt-xxl#{$suffix} { margin-top: var(--space-xxl) }


    }

}

/***** Position *****/

.is-relative { position: relative }
.is-absolute { position: absolute }

/***** Sizes *****/

.w-full { width: 100% }
.h-full { height: 100% }

/***** Visibility *****/

.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.is-visible {
    display: 1;
    visibility: visible;
}

.on-mobile {
    @include min(medium) {
        display: none !important;
    }
}

.on-desktop {
    @include max(medium) {
        display: none !important;
    }
}

/***** Text align *****/

.txt-left   { text-align: left }
.txt-center { text-align: center }
.txt-right  { text-align: right }