@use 'mixins' as *;

/***** Margin, padding *****/

.m-0 { margin: 0 }

.p-0 { padding: 0 }

.mp-0 {
    margin: 0;
    padding: 0;
}

/***** Flex *****/

@each $prefix, $media in ('' : "(min-width: 0px)", 'd\\:' : "(min-width: 920px)", 'm\\:' : "(max-width: 920px)") {
    @media #{$media} {

        /***** Flex *****/

        .#{$prefix}flex { display: flex } 

        .flex, .grid {
            &.#{$prefix}-space     { justify-content: space-between }
            &.#{$prefix}-center    { justify-content: center; align-items: center }
            &.#{$prefix}-center-x  { justify-content: center }
            &.#{$prefix}-center-y  { align-items: center }
            &.#{$prefix}-start-y   { align-items: flex-start }
            &.#{$prefix}-end-y     { align-items: flex-end }
            &.#{$prefix}-end-x     { justify-content: flex-end }
            &.#{$prefix}-column    { flex-direction: column }
            &.#{$prefix}-wrap      { flex-wrap: wrap }
        }
    
        /***** Display *****/

        .#{$prefix}hide   { visibility: hidden; height: 1px; }
        .#{$prefix}show   { visibility: visible; height: auto;}

        /***** Gap *****/

        .#{$prefix}gap-0   { gap: 0 }
        .#{$prefix}gap-xxs { gap: var(--space-xxs) }
        .#{$prefix}gap-xs  { gap: var(--space-xs) }
        .#{$prefix}gap-s   { gap: var(--space-s) }
        .#{$prefix}gap-m   { gap: var(--space-m) }
        .#{$prefix}gap-l   { gap: var(--space-l) }
        .#{$prefix}gap-xl  { gap: var(--space-xl) }
        .#{$prefix}gap-xxl { gap: var(--space-xxl) }

        /***** Margin *****/

        .#{$prefix}mb-0   { margin-bottom: 0 }
        .#{$prefix}mb-xxs { margin-bottom: var(--space-xxs) }
        .#{$prefix}mb-xs  { margin-bottom: var(--space-xs) }
        .#{$prefix}mb-s   { margin-bottom: var(--space-s) }
        .#{$prefix}mb-m   { margin-bottom: var(--space-m) }
        .#{$prefix}mb-l   { margin-bottom: var(--space-l) }
        .#{$prefix}mb-xl  { margin-bottom: var(--space-xl) }
        .#{$prefix}mb-xxl { margin-bottom: var(--space-xxl) }

        .#{$prefix}mt-0   { margin-top: 0 }
        .#{$prefix}mt-xxs { margin-top: var(--space-xxs) }
        .#{$prefix}mt-xs  { margin-top: var(--space-xs) }
        .#{$prefix}mt-s   { margin-top: var(--space-s) }
        .#{$prefix}mt-m   { margin-top: var(--space-m) }
        .#{$prefix}mt-l   { margin-top: var(--space-l) }
        .#{$prefix}mt-xl  { margin-top: var(--space-xl) }
        .#{$prefix}mt-xxl { margin-top: var(--space-xxl) }

    }

}

/***** Position *****/

.is-relative { position: relative }
.is-absolute { position: absolute }

/***** Sizes *****/

.w-full { width: 100% }
.h-full { height: 100% }

/***** Visibility *****/

.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.is-visible {
    display: 1;
    visibility: visible;
}

.on-mobile {
    @include min(medium) {
        display: none !important;
    }
}

.on-desktop {
    @include max(medium) {
        display: none !important;
    }
}

/***** Text align *****/

.txt-left   { text-align: left }
.txt-center { text-align: center }
.txt-right  { text-align: right }