@use 'colors' as *;


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Brown';
    background-color: $white;
    color: $black;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin-top: 132px;
    font-size: 16px;

}

main {
    flex-grow: 1;
    transition: opacity .4s;
    &.loading {
        opacity: .4;
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    list-style: none;
}

/*------------------------------------*\
    FORMS
\*------------------------------------*/



/*------------------------------------*\
    ENTRY CONTENT
\*------------------------------------*/

// .entry-content {

//     h1, h2, h3, h4, h5, h6 {
//         font-weight: $font-semibold;
//         margin-bottom: 20px;
//     }
//     h2 {
//         margin-top: 60px;
//     }
//     a {
//         text-decoration: underline;
//     }
//     p {
//         margin-bottom: 20px;
//     }
//     ul {
//         list-style: disc;
//         padding-left: 20px;
//         margin-bottom: 1em;

//         li {
//             font-size: 18px;
//             font-weight: $font-extralight;
//             line-height: 32px;
//         }
//     }

//     img {
//         width: 100%;
//         height: auto;
//     }

//     iframe {
//         margin: var(--space-xl) 0;
//         max-width: var(--max-width);
//         width: 90vw;
//         aspect-ratio: 16/9;
//         display: block;
//         height: auto;
//     }
//     &.modal_content iframe {
//         margin-top: 0;
//         aspect-ratio: unset;
//     }
// }